<!DOCTYPE html>
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<meta charset="UTF-8">

<title>글 조회 페이지</title>
</head>
<body>

	<div class="container">
	<br/>
		<h2>글</h2>
		<br/>
		<input type="hidden" id="boardId" th:value="${content.boardId}">
		<table class="table table-bordered">
			<tr>
				<td>번호</td>
				<td th:text="${content.boardId}"></td>
			</tr>
			<tr>
				<td>조회수</td>
				<td th:text="${content.hit}"></td>
			</tr>
			<tr>
				<td>이름</td>
				<td th:text="${content.memberId}"></td>
			</tr>
			<tr>
				<td>제목</td>
				<td><input id="title" th:value="${content.title}" disabled style="width:100%;"></td>
			</tr>
			<tr>
				<td>내용</td>
				<td><textarea rows="10" id="text" disabled style="width:100%;" th:text="${content.text}"></textarea></td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="button" class="btn btn-success" onclick="location.href='/list'">목록보기</button>&nbsp;&nbsp;
					<button type="button" class="btn btn-warning" th:onclick="|location.href='@{/contentModifyForm/{boardId}(boardId=${content.boardId})}'|">수정</button>&nbsp;&nbsp;
					<button type="button" class="btn btn-danger" onclick="contentDetele()">삭제</button> 
				</td>
			</tr>
		</table>
	</div>
   
</body>
</html>